header select {
	position:relative;
	top:20%;
	background-color: #428bca;
	border-color: #428bca;
	width: 100px;
	font-size: 16px;
}

header .container-fluid .row div {
	background-color: #428bca;
	text-align:center;
	line-height:40px;
	height: 40px;
	color: white;
}
header .top-down .row {
	border-bottom: 1px solid #ddd;
	padding: 0.7em 0 1em;
}
body{
	background-color: #eeede8;
	font-family: 'Open Sans', sans-serif;
}
.container-left {
	position: relative;
	left: 20%;
}
.container-right {
	position: absolute;
	left: 10%;
}