body{
	/*background-color: #eeede8;*/
	font-family: "Trebuchet MS", sans-serif;
	margin: 50px;
}

.demoHeaders {
	margin-top: 2em;
}

#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#icons {
	margin: 0;
	padding: 0;
}

#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}




/*HEADER*/
header select {
	position:relative;
	top:20%;
	background-color: #428bca;
	border-color: #428bca;
	width: 100px;
	font-size: 16px;
}
header .container-fluid a {
	color: white;
}
header .container-fluid a:hover {
	text-decoration:none;
}


header .container-fluid .top-up .row div {
	background-color: #428bca;
	text-align:center;
	line-height:40px;
	height: 40px;
	color: white;
}
header .top-down .row {
	border-bottom: 1px solid #ddd;
	padding: 0.7em 0 1em;
}

.bar {
	position:relative;
	margin:auto;
	width: 80%;
	height: 48px;
	border-radius:5px 5px 5px 5px;
	border: 2px;
	border-style: solid;
	border-color: #ddd;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+70,f1f1f1+70,e1e1e1+90,e1e1e1+90,f6f6f6+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 70%, rgba(241,241,241,1) 70%, rgba(225,225,225,1) 90%, rgba(225,225,225,1) 90%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 70%,rgba(241,241,241,1) 70%,rgba(225,225,225,1) 90%,rgba(225,225,225,1) 90%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 70%,rgba(241,241,241,1) 70%,rgba(225,225,225,1) 90%,rgba(225,225,225,1) 90%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.bar .bar-ul {
	display: inline-block;
}
.bar ul .bar-inline {
	padding-left:20px;
	padding-top:7px;
	text-align:center;
	/*line-height:46px;*/
	display: inline-block;
	/*height: 30px;*/
}
/*搜尋*/
.bar-search {
	position:absolute;
	right: 5%;
}

.bar-search input {
	height: 30px;
	border-radius:15px 15px 15px 15px;
	padding-left: 10px;
	outline: none;
}

.bar a {
	color:black;
}
.bar a:hover {
	text-decoration:none;
}


/*中間*/
.container-left {
}
.container-right {

}
.circle {
	width:100px;
    height:100px;
    background:#0cc;
    -webkit-clip-path:circle(50% at 50% 50%);
}


